<div class="back-drop" *ngIf="isShown" (click)="hideModal()" role="dialog">
  <div class="modal-controls">
    <div class="controls-backdrop">
      <div class="controls-container">
        <a class="left-arrow-icon" role="button">Previous</a>
        <a class="right-arrow-icon" role="button">Next</a>
      </div>
    </div>
  </div>
  <div class="modal-container">
    <div class="modal">
      <article>
        <header>
          <div class="profile-img">
            <a href="#/{{postData.profile.username}}">
              <img [src]="postData.profile.avatar">
            </a>
          </div>
          <div class="user-info">
            <div>
              <div class="user-name">
                <a title="{{postData.profile.username}}" href="#/{{postData.profile.username}}">{{postData.profile.username}}</a>
                <span class="verified-badge-icon" title="Verified" *ngIf="postData.profile.verified">Verified</span></div>
            </div>
            <div class="user-full-name"></div>
          </div>
          <span class="follow-btn"><button>Follow</button></span>
        </header>
        <div class="img-container">
          <div>
            <div class="img-box">
              <div class="img-holder">
                <img [src]="postData.picture">
              </div>
              <div class="shift"></div>
            </div>
          </div>
        </div>
        <div class="comments-container">
          <section class="post-controls">
            <a class="heart-open-icon" routeLink="#" role="button" aria-disabled="false"><span>Like</span></a>
            <a class="comment-icon" routeLink="#" role="button"><span>Comment</span></a>
          </section>
          <section class="likes-count">
            <div><a routeLink="#" role="button"><span>{{postData.likesCount}}</span> likes</a></div>
          </section>
          <div class="comments">
            <ul>
              <li *ngFor="let comment of postData.comments">
                <a class="user-link" title="{{comment.user.username}}" href="#/{{comment.user.username}}">
                  {{comment.user.username}}
                </a>
                <span>{{comment.text}}</span>
              </li>
            </ul>
          </div>
          <div class="date-section">
            <a>
              <time title="{{postData.timestamp * 1000 | date}}">{{postData.timestamp * 1000 | timeago}}</time>
            </a>
          </div>
          <section class="add-comment">
            <form><textarea aria-label="Add a comment…" placeholder="Add a comment…"></textarea></form>
          </section>
        </div>
        <div class="more-options"><button><span class="options-ellipsis-icon">More options</span></button></div>
      </article>
    </div>
  </div>
  <button class="modal-close-btn" (click)="hideModal()">Close</button>
</div>
