<article class="article">
  <header>
    <div class="article-logo">
      <a routerLink="/natgeo">
        <img src="https://scontent-waw1-1.cdninstagram.com/t51.2885-19/s150x150/13597791_261499887553333_1855531912_a.jpg"></a>
    </div>
    <div class="article-title">
      <div>
        <div class="name">
          <a title="natgeo" routerLink="/natgeo">natgeo</a>
        </div>
      </div>
      <div class="location">
        <a title="Seychelles" routerLink="/explore">Seychelles</a>
      </div>
    </div>
  </header>
  <div class="media-content">
    <div>
      <div class="container">
        <div class="main-image">
          <div class="holder" style="padding-bottom: 66.4815%;">
            <img class="_2di5p" src="https://scontent-waw1-1.cdninstagram.com/t51.2885-15/e35/22710851_1492510164176347_8984909512641085440_n.jpg" style="">
          </div>
          <div class="shift"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <section class="controls">
      <a class="like-btn" href="#" role="button" aria-disabled="false">
        <span class="heart-open-icon">Like</span>
      </a>
      <a class="add-comment-btn" href="#" role="button">
        <span class="comment-icon">Comment</span>
      </a>
    </section>
    <section class="likes">
      <div class="_3gwk6 _nt9ow">
        <a class="_nzn1h" routerLink="/home">
          <span>205,737</span> likes
        </a>
      </div>
    </section>
    <div class="comments">
      <ul>
        <li class="comment">
          <a class="user-name" title="natgeo" routerLink="/natgeo">natgeo</a>
            <span>
              <span>
                <span>Photograph by </span>
                <a routerLink="/thomaspeschak">@thomaspeschak</a>
                <span> Blacktip reef sharks swim into the current as the tide drives water into Aldabra's giant</span>
              </span>
              <a class="more" href="#">&nbsp;more</a>
            </span>
        </li>
        <li class="load-more">
          <a class="_m3m1c _1s3cd" href="#" role="button">Load more comments</a>
        </li>
        <li class="comment">
          <a class="user-name" title="tina.ebets" routerLink="/tina.ebets">tina.ebets</a>
            <span>
              <span>
                <a routerLink="/phil_hasn">@phil_hasn</a>
                <span> da musste ich an deine Klugscheißerei im Zoo denken :P ;)</span>
              </span>
            </span>
        </li>
        <li class="comment">
          <a class="user-name" title="luizaip" routerLink="/luizaip">luizaip</a>
            <span>
              <span>
                <a routerLink="/flaviachristalino">@flaviachristalino</a>
                <span> quero ver fotos assim!!</span>
              </span>
            </span>
        </li>
        <li class="comment">
          <a class="user-name" title="chrishall8473" routerLink="/chrishall8473">chrishall8473</a>
            <span>
              <span>
                <span>Beautiful!</span>
              </span>
            </span>
        </li>
      </ul>
    </div>
    <div class="time">
      <a routerLink="/home">
        <time datetime="2017-10-26T09:13:04.000Z" title="Oct 26, 2017">22 hours ago</time>
      </a>
    </div>
    <section class="add-comment">
      <form>
        <textarea aria-label="Add a comment…" placeholder="Add a comment…"></textarea>
      </form>
    </section>
  </div>
  <div class="more-options">
    <button>
      <span class="options-ellipsis-icon">More options</span>
    </button>
  </div>
</article>
